build/temp.macosx-10.9-x86_64-3.8/Source/*.o
LwBuild/lightweaver/DefaultIterSchemes/*.so
__pycache__
/source/*.so

LwBuild/lightweaver/LwCompiled.cpython-38-darwin.so
LwBuild/lightweaver/libenkiTS.so
Source/LwMiddleLayer.cpp
lightweaver/DefaultIterSchemes/SimdImpl_AVX2FMA.cpython-38-darwin.so
lightweaver/DefaultIterSchemes/SimdImpl_AVX512.cpython-38-darwin.so
lightweaver/DefaultIterSchemes/SimdImpl_SSE2.cpython-38-darwin.so
lightweaver/LwCompiled.cpython-38-darwin.so
lightweaver/libenkiTS.so
lightweaver/version.py
lightweaver.egg-info/PKG-INFO
lightweaver.egg-info/SOURCES.txt
lightweaver.egg-info/dependency_links.txt
lightweaver.egg-info/requires.txt
lightweaver.egg-info/top_level.txt

LwBuild/lightweaver/DefaultIterSchemes/SimdImpl_AVX2FMA.cpython-38-darwin.so
LwBuild/lightweaver/DefaultIterSchemes/SimdImpl_AVX512.cpython-38-darwin.so
LwBuild/lightweaver/DefaultIterSchemes/SimdImpl_SSE2.cpython-38-darwin.so
LwBuild/lightweaver/LwCompiled.cpython-38-darwin.so
Source/LwMiddleLayer.cpp
build/temp.macosx-10.9-x86_64-3.8/Source/LightweaverAmalgamated.o
lightweaver/DefaultIterSchemes/SimdImpl_AVX2FMA.cpython-38-darwin.so
lightweaver/DefaultIterSchemes/SimdImpl_AVX512.cpython-38-darwin.so
lightweaver/DefaultIterSchemes/SimdImpl_SSE2.cpython-38-darwin.so
lightweaver/LwCompiled.cpython-38-darwin.so
lightweaver/__pycache__/atmosphere.cpython-38.pyc
lightweaver/__pycache__/version.cpython-38.pyc
lightweaver/version.py
lightweaver.egg-info/PKG-INFO
lightweaver.egg-info/SOURCES.txt
